
:root
{
    --bg: black;
    --framebg: #333;
    --fg: wheat;
}


body
{
    background-color: var(--bg);
    color: var(--fg);
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Frame */
.frame
{
    width: 100%;
    max-width: 800px;
    height: 95vh;
    background-color: var(--framebg);

    /* PADDING */
    padding-top: 50px;
    box-sizing: border-box;
    
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TEXT AREA */
#title
{
    width: 90%;
    height: 100px;
    resize: none;
    background-color: var(--framebg);
    /* border: none; */

    font-size: 50px;
    color: var(--fg);
    
}

#horizontal
{
    width: 90%;
    opacity: 50%;
}