body
{
    background-color: #333;
    color: wheat;
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Frame */
.frame
{
    width: 100%;
    max-width: 800px;
    height: 95vh;
    background-color: cadetblue;
}


