/* FONTS */
@font-face {
    font-family: dyslexie;
    src: url(fonts/OpenDyslexic-Regular.otf);
}

:root
{
    --bg: black;
    --framebg: #111;
    --fg: wheat;

    --titlefontsize: 40px;
    --contentfontsize: 25px;
}

*
{
    font-family: dyslexie;

}

body
{
    background-color: var(--bg);
    color: var(--fg);
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Frame */
.frame
{
    width: 100%;
    max-width: 800px;
    height: 95vh;
    background-color: var(--framebg);

    /* PADDING */
    padding-top: 50px;
    box-sizing: border-box;
    
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TEXT AREA */
#horizontal
{
    width: 90%;
    opacity: 50%;
    margin-bottom: 40px;
}


.textbox{
    width: 90%;
    background-color: var(--framebg);
    color: var(--fg);
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}

#title{
    font-size: var(--titlefontsize);
}

#content{
    font-size: var(--contentfontsize);
}



/* EFFECTS */
.textbox:focus
{
    outline: none;
    border: none;
}