
:root
{
    --bg: black;
    --framebg: #111;
    --fg: wheat;

    --titlefontsize: 60px;
    --contentfontsize: 25px;
}


body
{
    background-color: var(--bg);
    color: var(--fg);
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Frame */
.frame
{
    width: 100%;
    max-width: 800px;
    height: 95vh;
    background-color: var(--framebg);

    /* PADDING */
    padding-top: 50px;
    box-sizing: border-box;
    
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TEXT AREA */
#horizontal
{
    width: 90%;
    opacity: 50%;
    margin-bottom: 40px;
}

.textbox
{
    width: 90%;
    background-color: var(--framebg);
    color: var(--fg);
    /* border: none; */

}

#title
{
    height: 90px;
    resize: none;
    font-size: var(--titlefontsize);
    
}


#content
{
    overflow: hidden;
    resize: none;
    font-size: var(--contentfontsize);
    box-sizing: border-box;
}



/* EFFECTS */
.textbox:focus
{
    outline: none;
    border: none;
}