body
{
    background-color: black;
    color: wheat;
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Frame */
.frame
{
    width: 100%;
    max-width: 800px;
    height: 95vh;
    background-color: #333;

    /* PADDING */
    padding-top: 50px;
    box-sizing: border-box;
    
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
}


#horizontal
{
    width: 90%;
    opacity: 50%;
}
/* TEXT AREA */
#title
{
    width: 90%;

}
